
//style.scss

$t_color_gray:#333;
$t_color_r:#f00;
$t_color_g:rgb(94, 218, 37);
$t_color_b:rgb(83, 83, 255);
$t_color_p:rgb(248, 121, 121);
$t_color_w:#fff;
$bg_color_y:rgb(255, 255, 163);

$t_size_s:12px; /*기본 크기*/
$t_size_m:16px; /*메뉴 크기*/

$t_size_t1:22px; /*큰제목*/
$t_size_t2:20px; /*작은제목*/

body{
  font-family:'맑은고딕',arial,sans-serif;
  font-size:$t_size_s;
  color:$t_color_gray;
}

h2{color:$t_color_b;}
h2{color:$t_color_gray;}

@mixin h2_title{
  font-family: "Noto Sans KR",serif;
  font-size: $t_size_t1;
  color:$t_color_b;
}
@mixin h3_title{
  font-size:$t_size_t2;
  color:$t_color_g;
  line-height:40px;
}

.title2{@include h2_title;}
.title3{@include h3_title;}

@mixin txt_over{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.p01{
  width:300px;
  border:1px solid $t_color_gray;
  background:$bg_color_y;
  @include txt_over;
}

/*취소하기 , 장바구니 버튼*/
/*1. 글자 서식*/
@mixin btnTxt{
  font-family:"Noto Sans";
  font-weight:blod;
  font-size:$t_size_m;
}
/*1. 버튼 서식*/
@mixin btnArea{
  border:1px solid $t_color_gray;
  padding:0px 10px;
  width:170px;height:56px;
}

/*글자서식과 버튼서식을 합치기*/
@mixin btn{
  @include btnTxt;
  @include btnArea;
}
.btn{@include btn}
.btn_w{background:$t_color_w;}
.btn_c{
  background: $t_color_p;
  color: $t_color_w;
}